<%- include('includes/head.ejs') %>

<body>
    <h1 id="principal">Las mejores armas y manufactureros de armas</h1>
    <h2>Agrega una nueva Arma:</h2>
    <br>
    <form action="/armas/nuevaArma" method="POST">
    <label for="nombre">Nombre del Arma: </label>
    <input type="text" id="nombre" name="nombre" placeholder="AK-12">
    <br><br>
    <label for="nombre">Descripción: </label> <br>
    <textarea rows = "5" cols = "60" id = "descArma" name = "descArma" placeholder="La AK12 es la evolución natural de la famosa AK47..."></textarea><br>
    <br><br>
    <label for="nombre">Imagen: </label> <br>
    <textarea rows = "2" cols = "60" id = "imagen" name = "imagen" placeholder="https://static.wikia.nocookie.net/guns/images/7/78/AK_12.jpg"></textarea><br>
    <br><br>
    <a><input type ="submit" value="Enviar"></a>
    </form>
    <br><br>
    <a href="/armas"><button type="button" class="btn btn-secondary">Regresar a las Máquinas de Guerra</button></a>
    </div>
</body>

<%- include('includes/foot.ejs') %>