<%- include('includes/head.ejs') %>

<body>
    <h1 id="principal">Los mejores vehiculos de guerra modernos</h1>
    <h2>Agrega un nuevo Blindado:</h2>
    <br>
    <form action="/vehiculos/nuevoBlindado" method="POST">
    <label for="nombre">Nombre del Blindado: </label>
    <input type="text" id="nombre" name="nombre" placeholder="BTR-90">
    <br><br>
    <a><input type ="submit" value="Enviar"></a>
    </form>
    <br><br>
    <a href="/vehiculos"><button type="button" class="btn btn-secondary">Regresar a las Máquinas de Guerra</button></a>
    </div>
</body>

<%- include('includes/foot.ejs') %>