<%- include('includes/head.ejs') %>

<body>
    <h1 id="principal">Las mejores armas y manufactureros de armas</h1>
    <h2>Agrega una nueva Arma:</h2>
    <br>
    <form action="/armas/nuevaArma" method="POST">
    <label for="nombre">Nombre del Arma: </label>
    <input type="text" id="nombre" name="nombre" placeholder="AK-12">
    <br><br>
    <a><input type ="submit" value="Enviar"></a>
    </form>
    <br><br>
    <a href="/armas"><button type="button" class="btn btn-secondary">Regresar a las Máquinas de Guerra</button></a>
    </div>
</body>

<%- include('includes/foot.ejs') %>